{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PIC-NATION</title>
    
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <div class="home-nav">
      <ul>
        <li><a href="#home-div">HOME</a></li>
        <li><a href="#about-div">ABOUT</a></li>
        <li><a href="#contact-div">CONTACT</a></li>
        <li><a href="{% url 'login' %}">LOGIN</a></li>
        <li><a href="{% url 'main:register' %}">SIGNUP</a></li>
      </ul>
    </div>

    <div class="pgdiv1" id="home-div">
      
      <div class="home-qoute">
        <h1>LIVE THE MOMENTS</h1>
        <h2 style="color:white">CLICK THE MOMENTS</h2>
      </div>
      <div class="home-info">
        <p>Pic Nation is made for sharing your art, captures and all your favourite moments. Show your photography skills to others and experience others art.</p>
      </div>
      
    </div>
  
    <div class="pgdiv2">
      <div class="gallery-wrap">
        <div class="gallery-center" id="GalleryCenter">
          <div class="gallery-box">
            <a href="#">
              <img src="{% static 'web-img/1.jpg' %}" alt="noImg" class="img1">
            </a>
            <a href="#">
              <img src="{% static 'web-img/2.jpg' %}" alt="noImg" class="img2">
            </a>
            <a href="#">
              <img src="{% static 'web-img/3.jpg' %}" alt="noImg" class="img1">
            </a>
            <a href="#">
              <img src="{% static 'web-img/4.jpg' %}" alt="noImg" class="img2">
            </a>
            <a href="#">
              <img src="{% static 'web-img/5.jpg' %}" alt="noImg" class="img1">
            </a>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
    <div class="pgdiv3" id="about-div">
      <div class="aboutus">
        <h2 style="color: white;">ABOUT US</h2><br>
        <p>Hello Everyone this is album which will help us to store the our memories in the form of images</p>
      </div>
      <div class="about-img">
        <img src="{% static 'web-img/6.jpg' %} " alt="No-image-found">
      </div>
        
    </div>
  
    <div class="pgdiv4">
  
          <div class="team" id="about-div">
  
          <div class="div-title">
          <h2>Team Members</h2>
          </div>
  
          <div class="team-div">
          <h4>Thatha Sri Harsha</h4>
          <span>FrontEnd Development</span>
          <p>Hello I am Sri Harsha</p>
          <p>Social Media handles here</p>
          </div>
  
          <div class="team-div">
          <h4>Anganti Bala Murali</h4>
          <span>FrontEnd Development</span>
          <p>Hello I am Murali</p>
          <p>Social Media handles here</p>
          </div>
  
  
          <div class="team-div">
          <h4>Thirdhakshar Sai Ghanta</h4>
          <span>BackEnd Development</span>
          <p>Hello I am Thirdhakshar</p>
          <p>Social Media handles here</p>
          </div>
  
  
          <div class="team-div">
          <h4>Padarthi Venkata Rupesh</h4>
          <span>BackEnd Development</span>
          <p>Hello I am Rupesh</p>
          <p>Social Media handles here</p>
          </div>
          </div>
  
    </div>
  
    <div class="pgdiv5" id="contact-div">
      <div class="contact">
        <h2>CONTACT US</h2>
      </div>
    </div> 

    <script type="text/javascript" src="{% static 'script.js' %}"></script>
  </body>
</html>
